<footer class="footer">
    <div class="footer__container">
        <h3 class="container__title">Tienda</h3>
        <nav class="container__menu">
            <ul class="container__menu--list">
                <li><a class="container__menu--link" href="https://adalab.es/" title="Productos"
                        target="_blank">Productos</a></li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Cajoneras"
                        target="_blank">Cajoneras</a></li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Para toda la casa"
                        target="_blank">Para toda la casa</a>
                </li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Habitaciones"
                        target="_blank">Habitaciones</a></li>
            </ul>
        </nav>
    </div>

    <div class="footer__container">
        <h3 class="container__title">Nosotros</h3>
        <nav class="container__menu">
            <ul class="container__menu--list">
                <li><a class="container__menu--link" href="https://adalab.es/" title="Nuestra guía"
                        target="_blank">Nuestra Guía</a></li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Nuestro diseño"
                        target="_blank">Nuestro diseño</a></li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Nuestra historia"
                        target="_blank">Nuestra historia</a></li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Ayuda" target="_blank">Ayuda</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__container">
        <h3 class="container__title">Contacto</h3>
        <nav class="container__menu">
            <ul class="container__menu--list">
                <li><a class="container__menu--link" href="mailto:ayuda@openspaces.com" title="Escríbenos"
                        target="_blank">ayuda@openspaces.com</a></li>
                <li><a class="container__menu--link" href="https://adalab.es/" title="Socios" target="_blank">Socios</a>
                </li>
            </ul>
        </nav>

        <nav class="container__social">
            <ul>
                <li class="container__social--list"><a class="container__social--item"
                        href="https://www.linkedin.com/company/pattern-brands/" title="¡Visita nuestro LinkedIn!"
                        target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="container__social--list"><a class="container__social--item"
                        href="http://instagram.com/getopenspaces" title="¡Visita nuestro Instagram!" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="container__social--list"><a class="container__social--item"
                        href="http://twitter.com/getopenspaces" title="¡Visita nuestro Twitter!" target="_blank"><i
                            class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
    </div>

    <a class="icon" href="./index.html#header">
        <img class="icon__arrow" title="¡Arriba!" src="./assets/images/arrowup.png" alt="Flecha" />
    </a>
</footer>