<header class="header" id="header">
        <nav class="menu">
                <!--Menú de navegación visible para las versiones mobile y tablet-->
                <a class="menu__hamburger--link" href="https://www.getopenspaces.com/" target="_blank">
                        <img class="menu__hamburger--image" src="./assets/images/hamburger.png" title="Menú"
                                alt="Menú hamburguesa" /></a>

                <!--Menú de navegación visible para la versión desktop-->
                <ul class="menu__list">
                        <li class="menu__list--item"><a class="menu__list--link"
                                        href="https://www.getopenspaces.com/shop/entryway-shoe-rack/" title="Productos"
                                        target="_blank">Productos</a></li>
                        <li class="menu__list--item"><a class="menu__list--link"
                                        href="https://www.getopenspaces.com/shop/essentials/" title="Colecciones"
                                        target="_blank">Colecciones</a></li>
                        <li class="menu__list--item"><a class="menu__list--link"
                                        href="https://www.getopenspaces.com/shop/" title="Tienda"
                                        target="_blank">Tienda</a></li>
                        <li class="menu__list--item"><a class="menu__list--link" href="https://www.getopenspaces.com/"
                                        title="Inicio" target="_blank">Inicio</a></li>
                </ul>
        </nav>
        <img class="header__logo" title="Open Spaces" src="./assets/images/logo.png" alt="logo" />
</header>