.article {
  padding: 25px 55px;

  @media all and (min-width: 768px) {
    padding: 40px 15px;
  }

  @media all and (min-width: 1200px) {
    padding: 55px 75px;
  }

  &__icon {
    width: 90px;
    margin-bottom: 39px;
  }

  &__title {
    margin-bottom: 12px;
  }
}
