/* 
Quinto módulo (footer): se debe maquetar usando flexbox. Todos los textos de la columna
"NOSOTROS" y todos los textos de la columna "SHOP" deben ser enlaces a la página de Adalab.
*/

.footer {
  background-color: $colorEden;
  color: $colorSubmarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 545px;
  justify-content: space-evenly;

  @media all and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
    height: 276px;
    justify-content: space-evenly;
    padding-bottom: 92px;
  }

  &__container {
    width: 150px;
  }

  .container__title {
    font-size: 20px;

    @media all and (min-width: 1200px) {
      font-size: 24px;
    }
  }

  .container__menu--list {
    list-style-type: none;
    line-height: 20px;
  }

  .container__menu--link {
    text-decoration: none;
    color: $colorSubmarine;
    font-size: 14px;

    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  .container__social--list {
    display: inline-block;
    padding: 16px 6px 0px 6px;

    @media all and (min-width: 768px) {
      padding: 10px 0 0 0;
    }
  }

  .container__social--item {
    color: $colorWhite;
    /* ¿font-family: Font Awesome? */
    font-size: 20px;
    padding: 6px;
    transition: color 0.3s ease 0s;
  }

  .container__social--item:hover {
    background-color: $colorWhite;
    color: $colorEden;
    border-radius: 50%;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-right: 28px;

    @media all and (min-width: 768px) {
      padding-right: 0;
    }

    &__arrow {
      width: 24px;
      animation-name: bounce;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes bounce {
      0% {
        transform: translateY(0px);
      }
      100% {
        transform: translateY(20px);
      }
    }
  }
}
