/* 
El menú superior debe estar fijo en la parte superior de la pantalla y no debe desaparecer al hacer
scroll. 
El icono de la hamburguesa que aparece en versión mobile y tablet debe estar fijo en la parte
superior de la pantalla y debe ser un enlace a la página de Adalab. Este menú de hamburguesa no
desplega ningún submenú.
*/

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 55px;
  left: 33px;
}

.menu__hamburger--image {
  width: 24px;
  height: 24px;
}

.menu__list {
  display: none;
}

.header__logo {
  width: 213px;
  height: 96px;
  margin-top: 19px;
}

@media all and (min-width: 768px) {
  .menu {
    /* position: absolute; */
    top: 75px;
    left: 82px;
  }

  .menu__list {
    display: none;
  }

  .header__logo {
    margin-top: 39px;
  }
}

@media all and (min-width: 1200px) {
  .menu {
    top: 76px;
    left: 50px;
  }

  .menu__hamburger--image {
    display: none;
  }

  .menu__list {
    display: flex;
    align-items: center;
  }

  .menu__list--item {
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
  }

  .menu__list--link {
    text-decoration: none;
    color: $colorEden;
    font-size: 16px;
  }
}
