.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;

  .menu {
    position: absolute;
    top: 55px;
    left: 33px;

    @media all and (min-width: 768px) {
      top: 75px;
      left: 82px;
    }

    @media all and (min-width: 1200px) {
      top: 76px;
      left: 50px;
    }

    &__hamburger--image {
      width: 24px;
      height: 24px;

      @media all and (min-width: 1200px) {
        display: none;
      }
    }

    &__list {
      display: none;

      @media all and (min-width: 768px) {
        display: none;
      }

      @media all and (min-width: 1200px) {
        display: flex;
        align-items: center;

        &--item {
          list-style-type: none;
          display: inline-block;
          padding: 0px 15px;
        }

        &--link {
          text-decoration: none;
          color: $colorEden;
          font-size: 16px;
        }

        &--link:hover {
          // text-decoration: underline;
          border-bottom: 1px solid;
          border-color: $colorEden;
        }
      }
    }
  }

  &__logo {
    width: 213px;
    height: 96px;
    margin-top: 19px;

    @media all and (min-width: 768px) {
      margin-top: 39px;
    }
  }
}
