.hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media all and (min-width: 768px) {
    justify-content: center;
    align-items: flex-start;
    padding: 0 147px;
  }

  @media all and (min-width: 1200px) {
    padding: 0 65px;
  }

  &__title {
    color: $colorEden;
    font-size: 24px;
    margin-bottom: 24px;

    @media all and (min-width: 768px) {
      font-size: 36px;
      width: 15ch;
    }
  }

  &__button {
    font-family: $fontMain;
    font-size: 16px;
    background-color: $colorEden;
    color: $colorWhite;
    text-transform: capitalize;
    padding: 12px 24px;
    margin-bottom: 128px;
    transition: ease 0.3s;

    @media all and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__button:hover {
    transform: scale(1.1);
    box-shadow: $colorSubmarine 0 0 10px 5px;
  }
}
