.module3 {
  background-color: $colorAtomicTangerine;
  color: $colorWhite;
  text-align: center;
  padding: 46px 0px 51px 0px;

  &__icon {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;

    @media all and (min-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }

    @media all and (min-width: 1200px) {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 14px;

    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__button {
    font-family: $fontMain;
    font-size: 16px;
    background-color: transparent;
    color: $colorWhite;
    text-decoration: underline;
    padding: 12px 24px;
    margin-top: 15px;
    transition: ease 0.3s;
  }

  &__button:hover {
    background-color: $colorWhite;
    color: $colorAtomicTangerine;
    text-decoration-line: none;
    transform: scale(1.1);
    box-shadow: 0 0 10px;
    // No quiero sombra PERO la transición del cambio de letra es más suave, más bonita, con box shadow O.o
  }
}
