/*
Tercer módulo (Envio gratis garantizado): se puede maquetar usando las propiedades de CSS que se
deseen.
*/

.module3 {
  background-color: $colorAtomicTangerine;
  color: $colorWhite;
  text-align: center;
  padding: 46px 0px 51px 0px;

  &__icon {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;

    @media all and (min-width: 768px) {
      font-size: 30px;
      margin-bottom: 10px;
    }

    @media all and (min-width: 1200px) {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 14px;

    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__button {
    font-family: $fontMain;
    font-size: 16px;
    background-color: transparent;
    color: $colorWhite;
    text-decoration: underline;
    padding: 12px 24px;
    margin-top: 15px;
    transition: ease 0.2s;
  }

  &__button:hover {
    transform: scale(1.2);
  }
}
