<section class="module2">
    <h2 class="module2__title">Volverse organizado se siente mejor con
        <span class="module2__title--caps">Open Spaces</span>
    </h2>

    <!--Artículos-->
    <include src="./articles/article.html" iconSrc="./assets/images/icon1.png" iconAlt="Línea de productos"
        articleTitle="Lo que necesitas" articleText="Una linea de productos diseñados para todos tus espacios">
    </include>

    <include src="./articles/article.html" iconSrc="./assets/images/icon2.png" iconAlt="Materias primas"
        articleTitle="Materia primas sustentables" articleText="Todos los productos con materias primas sustentables">
    </include>

    <include src="./articles/article.html" iconSrc="./assets/images/icon3.png" iconAlt="Soporte" articleTitle="Guía"
        articleText="Soporte y asesoramiento para ayudarte con tu objetivo">
    </include>

</section>