<!-- Sección extra desarrollada durante la entrevista técnica -->
<section class="products">
    <h2 class="products__title">Productos destacados</h2>
    <p class="products__text">Producto estrella 1</p>
    <p class="products__text">Producto estrella 2</p>
</section>
<!-- -->

<section class="module3">
    <img class="module3__icon" src="./assets/images/icon4.png" alt="" />
    <h2 class="module3__title">Envío gratis garantizado</h2>
    <p class="module3__text">Envío gratis en compras desde 100</p>
    <button class="module3__button">Comprar ahora</button>
</section>